<div class="w-full flex items-start bg-white mb-1">
    <div class="{{ legend_width }}">
        <label class="text-sm text-slate-700 font-normal" for="{{ form.first.vars.id }}">
            {{ form.first.vars.label }}
        </label>
    </div>
    <div class="{{ col_width }} inline-flex justify-start overflow-hidden">
        {{ form_widget(form.first, { attr: { class: input_width ~ ' border text-gray-900 text-sm px-2 py-1 rounded focus:outline-none focus:bg-white ' ~ (form_errors(form) ? 'border-orange-300 bg-white' : 'border-gray-300 bg-gray-100/70'), 'placholder': placeholder, 'oninput': oninput } }) }}
    </div>
</div>
<div class="w-full flex items-start bg-white">
    <div class="{{ legend_width }}">
        <label class="text-sm text-slate-700 font-normal" for="{{ form.second.vars.id }}">
            {{ form.second.vars.label }}
        </label>
    </div>
    <div class="{{ col_width }} inline-flex justify-start overflow-hidden">
        {{ form_widget(form.second, { attr: { class: input_width ~ ' border text-gray-900 text-sm px-2 py-1 rounded focus:outline-none focus:bg-white ' ~ (form_errors(form) ? 'border-orange-300 bg-white' : 'border-gray-300 bg-gray-100/70'), 'placholder': placeholder, 'oninput': oninput } }) }}
    </div>
</div>
