{% extends 'base.html.twig' %}

{% block title %}Collègiens-citoyens{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            // Select
            new TomSelect("#reply_recipient",{
                plugins: ['remove_button'],
                create: true,
                onItemAdd:function(){
                    this.setTextboxValue('');
                    this.refreshOptions();
                },
                render:{
                    option:function(data,escape){
                        return '<div class="d-flex"><span>' + escape(data.data) + '</span><span class="ms-auto text-muted">' + escape(data.value) + '</span></div>';
                    },
                    item:function(data,escape){
                        return '<div>' + escape(data.data) + '</div>';
                    }
                }
            });
        }
    </script>
{% endblock %}

{% block main %}

    <section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="row" id="content">
            {{ include('espacecollege/dashboard/_header_college.html.twig') }}
        </div>
    </section>
    <section class="mb-4 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 border-b border-b-gray-700 text-gray-700 flex justify-between">
        <h5 class="font-semibold text-2xl">Tableau de bord</h5>
        <a href="{{ path('op_admin_security_logout') }}"><i class="fa-duotone fa-solid fa-right-from-bracket"></i> Se déconnecter</a>
    </section>
    <section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8"  id="espace_college_content">
        <div class="grid grid-cols-4 gap-4">
            <div class="col-span-3">
                {% if app.request.attributes.get('_route') == 'op_webapp_message_reply_mail' %}
                    <h5 class="text-xl font-semibold text-gray-700">Répondre au message de : {{ message.author }}</h5>
                {% elseif app.request.attributes.get('_route') == 'op_webapp_message_trans_mail' %}
                    <h5 class="text-xl font-semibold text-gray-700">Transférer le message de : {{ message.author }}</h5>
                {% endif %}
                <p>Vous pouvez envoyer un message à un collège ou plusieurs inscrit dans le dispositif.</p>
                {{ include('webapp/message/_form.html.twig') }}
            </div>
            <div class="">
                {{ include('espacecollege/dashboard/_blocAdminCollege.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}

