<form id="filters" action="">
    {# Construction en twig de la variable parent pour segmenter le filtrage des ressources #}
    {% set parents = [] %}
    {% for categorie in categories %}
        {% if categorie.parent is null %}
            {# Assemblage du tableau en twig #}
            {% set parents = parents|merge([{name : categorie.name, id: categorie.id}]) %}
        {% endif%}
    {% endfor%}
    <div class="bg-white">
        <div>
        {# Mise en place de la boucle à partir de Parents #}
        {% for parent in parents %}
            <h3 class="font-semibold text-gray-700 mb-2">
                {{parent.name}}
            </h3>
            {% for categorie in categories|filter(categorie => categorie.parent == parent.id) %}
                <ul class="space-y-2 mb-2">
                    <label for="cat{{ categorie.id }}" class="flex items-center justify-between p-3 rounded-xl border border-gray-200 cursor-pointer transition
                              peer-checked:border-blue-500 peer-checked:bg-blue-50 hover:bg-gray-50 relative">
                        <input type="checkbox" name="categories[]" id="cat{{ categorie.id }}" value="{{ categorie.id }}"
                               class="peer absolute opacity-0">
                        <span class="text-gray-800 text-sm">{{ categorie.name }}</span>
                        <!-- Check Icon -->
                        <span class="hidden peer-checked:inline text-blue-600 font-bold">✓</span>
                    </label>
                </ul>
            {% else %}
            {% endfor %}
        {% endfor %}
        </div>
    </div>
    <input type="hidden" id="page" value="{{ page }}">
</form>
