    <table class="relative min-w-full divide-y divide-gray-300 dark:divide-white/15">
        <thead>
        <tr>
            <th></th>
            <th>Ressource</th>
            <th>Content</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 dark:divide-white/10">
        {% for ressource in ressources %}
            <tr class="hover:bg-gray-100">
                <td><input id="ressourcesId" type="checkbox" value="{{ ressource.id }}"></td>
                <td class="py-1.5 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">{{ ressource.name }}</td>
                <td class="py-1.5 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">{{ ressource.content | u.truncate(50, '...') | raw }}</td>
                <td class="py-1.5 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">
                    <a href="{{ path('op_webapp_ressources_show', {'id': ressource.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('op_webapp_ressources_edit', {'id': ressource.id}) }}"><i class="far fa-edit"></i></a>
                    <a href="#" class="js-modalSuppr text-danger" type="button" data-bs-toggle="modal" data-bs-target="#Suppr" data-bs-whatever="{{ ressource.id }}">
                        <i class="bi bi-eraser text-danger"></i>
                    </a>
                </td class="py-1.5 text-sm whitespace-nowrap text-gray-500 dark:text-gray-400">
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

