{% extends layout %}

{% block title %}Collégiens-Citoyens{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}

    <section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="row" id="content">
            {{ include('espacecollege/dashboard/_header_college.html.twig') }}
        </div>
    </section>
    <section class="my-4 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 border-b border-b-gray-700 text-gray-700 flex justify-between items-center">
        <h2 class="font-normal uppercase text-2xl">Tableau de bord | collège {{ college.name }}</h2>
        <a href="{{ path('op_admin_security_logout') }}"><i class="fa-duotone fa-solid fa-right-from-bracket"></i> Se déconnecter</a>
    </section>

    <section class="mx-auto max-w-7xl px-2 py-2 sm:px-6 lg:px-8">
        <div class="grid grid-cols-4 gap-4">
            <div class="col-span-3">

                <h5 class="text-xl font-normal text-[#d84519]">METS A JOUR LES INFORMATIONS DE TON COLLEGE</h5>
                <p>Sur cette page, tu pourras modifier les informations dédiées à ton établissement.</p>
                <div>
                    {{ include('admin/college/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </div>
            </div>
            <div>
                {{ include('espacecollege/dashboard/_blocAdminCollege.html.twig') }}
            </div>
        </div>

    </section>
{% endblock %}

