{% extends 'base.html.twig' %}

{% block title %}collégiens-Citoyens{% endblock %}

{% block main %}
    <section class="mx-auto max-w-7xl px-2 py-2 sm:px-6 lg:px-8" id="content">

        {% include 'composants/modules/breadcrumb.html.twig' with {
            'level_1' : {
                'title' : 'ressources',
                'href' : path('op_webapp_page', {'slug': 'centre-de-ressources'})
            },
            'level_2' : {
                'title' : ressource.name,
                'href' : '#'
            }
        } %}

        <h3 class="mt-4 font-semibold text-2xl text-gray-700 border-b border-gray-700">{{ ressource.name }}</h3>
        {% if ressource.imageName is null %}
                <article class="prose max-w-none py-2">
                    {{ ressource.content|raw }}
                </article>
            {% else %}
                <article class="prose max-w-none py-2">
                    <img
                        src="{{ asset('/uploads/images/ressources/'~ressource.imageName) }}"
                        alt="{{ ressource.imageName }}"
                        class="float-left mr-2 mb-2 w-120 h-auto rounded-lg"
                    >
                    {{ ressource.content|raw }}
                </article>
            {% endif %}
        <div class="clear-both"></div>

        {% if ressource.Linkmedia is null %}
        {% else %}
            <div class="max-w-3xl mx-auto bg-white text-gray-900 rounded-xl overflow-hidden shadow-lg">
                <iframe
                    width="560" height="315"
                    src="{{ ressource.Linkmedia }}"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen>
                </iframe>
            </div>
        {% endif %}

        {% if is_granted('ROLE_USER') %}
            <div class="row" id="ressource_comments">
                <div class="col-12">
                    {# {{ render(controller('App\\Controller\\Webapp\\CommentController::new')) }} #}
                </div>
            </div>
        {% endif %}

    </section>
{% endblock %}
