<div class="relative w-full max-w-7xl mx-auto overflow-hidden rounded-xl">
    <!-- TRACK -->
    <div id="carousel-track" class="flex transition-transform duration-700">

        {% for article in articles %}
        <!-- SLIDE {{ loop.index | capitalize }} -->
        <div class="relative w-full shrink-0 h-[400px]">
            {% if article.imageName is not null %}
                <img src="{{ asset('uploads/images/articles/' ~ article.imageName) }}" class="w-full h-full object-cover" alt="{{ article.title }}">
            {% else %}
                <img src="{{ asset('uploads/images/fixes/img_article_none.png')}}" alt="..." class="w-full h-full object-cover">
            {% endif %}
            <div class="absolute inset-0 bg-black/40"></div>

            <!-- Contenu -->
            <div class="absolute inset-0 flex flex-col justify-end p-6 text-white">
                <div class="flex flex-row items-center gap-4">
                    {% if article.logoName is not null %}
                        <img src="{{ asset('/uploads/images/colleges/'~ article.logoName) | imagine_filter('thumb_logo_college') }}" alt="" class="size-20 rounded-full ring-2 ring-[#d84519] sm:size-32 dark:ring-gray-900 dark:outline dark:-outline-offset-1 dark:outline-white/10" />
                    {% else %}
                        <img src="{{ asset('/uploads/images/fixes/img_article_none.png') | imagine_filter('thumb_logo_college') }}" alt="" class="size-20 rounded-full ring-2 ring-[#d84519] sm:size-32 dark:ring-gray-900 dark:outline dark:-outline-offset-1 dark:outline-white/10" />
                    {% endif %}
                    <div>
                        <span class="bg-[#d84519] w-40 px-3 py-1 rounded-xl text-sm mb-2 flex justify-center">{{ article.theme }}</span>
                        <h2 class="text-2xl font-bold">{{ article.title }}</h2>
                        <p class="text-sm opacity-90">{{ article.content |u.truncate(200, ' ...') | raw }}</p>
                    </div>
                </div>

            </div>
            <a href="{{ path('op_webapp_articles_articleSlug', { 'id': article.id, 'idcollege': article.idcollege }) }}" class="absolute inset-0 z-10" aria-label="Lire l’article {{ article.title }}"></a>
        </div>
        {% endfor %}

    </div>

    <!-- BARRES DE NAVIGATION -->
    <div class="absolute bottom-4 left-1/2 -translate-x-1/2 flex gap-3">
        {% for article in articles %}
        <button data-slide="{{ loop.index - 1 }}" class="bar w-10 h-2 bg-white/40 rounded-full"></button>
        {% endfor %}
    </div>
</div>
