{% extends 'base.html.twig' %}

{% block title %}Collégiens - Citoyens{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block main %}
    <section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="row" id="content">
            {{ include('espacecollege/dashboard/_header_college.html.twig') }}
        </div>
    </section>
    <section class="mb-4 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 border-b border-b-gray-700 text-gray-700 flex justify-between">
        <h5 class="font-semibold text-2xl">Tableau de bord</h5>
        <a href="{{ path('op_admin_security_logout') }}"><i class="fa-duotone fa-solid fa-right-from-bracket"></i> Se déconnecter</a>
    </section>
    <section class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="grid grid-cols-4 gap-4">
            <div class="col-span-3">
                <p class="alert alert-info">
                    Ce tableau de bord vous permet d'accéder :<br>
                    - à l'édition d'articles, <br>
                    - à la personnalisation de votre page.
                </p>
                <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6 lg:grid-cols-4">
                    {% if messages %}
                        <li class="col-span-1 flex rounded-md shadow-xs dark:shadow-none">
                            <div class="flex w-16 shrink-0 items-center justify-center rounded-l-md bg-pink-600 text-sm font-medium text-white dark:bg-pink-700"><i class="fa-duotone fa-solid fa-messages fa-xl"></i></div>
                            <div class="flex flex-1 items-center justify-between truncate rounded-r-md border-t border-r border-b border-gray-200 bg-white dark:border-white/10 dark:bg-gray-800/50">
                                <div class="flex-1 truncate px-4 py-2 text-sm">
                                    <a href="{{ path('op_webapp_message_messagesbyuser', {'iduser': app.user.id}) }}" class="font-medium text-gray-900 hover:text-gray-600 dark:text-white dark:hover:text-gray-200">Messages</a>
                                    <p class="text-gray-500 dark:text-gray-400">{{ messages|length}} conversations</p>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    {% if articles %}
                    <li class="col-span-1 flex rounded-md shadow-xs dark:shadow-none">
                        <div class="flex w-16 shrink-0 items-center justify-center rounded-l-md bg-purple-600 text-sm font-medium text-white dark:bg-purple-700"><i class="fa-duotone fa-solid fa-newspaper fa-xl"></i></div>
                        <div class="flex flex-1 items-center justify-between truncate rounded-r-md border-t border-r border-b border-gray-200 bg-white dark:border-white/10 dark:bg-gray-800/50">
                            <div class="flex-1 truncate px-4 py-2 text-sm">
                                <a href="{{ path('op_espcoll_articles_bycollege', {'idcollege': college.id}) }}" class="font-medium text-gray-900 hover:text-gray-600 dark:text-white dark:hover:text-gray-200">Articles</a>
                                <p class="text-gray-500 dark:text-gray-400">{{ articles |length}} publiés</p>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% if ressources %}
                    <li class="col-span-1 flex rounded-md shadow-xs dark:shadow-none">
                        <div class="flex w-16 shrink-0 items-center justify-center rounded-l-md bg-yellow-500 text-sm font-medium text-white dark:bg-yellow-600"><i class="fa-duotone fa-solid fa-book-open-lines fa-xl"></i></div>
                        <div class="flex flex-1 items-center justify-between truncate rounded-r-md border-t border-r border-b border-gray-200 bg-white dark:border-white/10 dark:bg-gray-800/50">
                            <div class="flex-1 truncate px-4 py-2 text-sm">
                                <a href="#" class="font-medium text-gray-900 hover:text-gray-600 dark:text-white dark:hover:text-gray-200">Ressources</a>
                                <p class="text-gray-500 dark:text-gray-400">{{ ressources|length}} Documents</p>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                </ul>

            </div>
            <div>
                {{ include('espacecollege/dashboard/_blocAdminCollege.html.twig') }}
            </div>
        </div>

    </section>
{% endblock %}
{% block Modals %}
    {{ parent() }}
{% endblock %}
