{% extends 'base.html.twig' %}

{% block title %}Collégiens-citoyens{% endblock %}

{% block header %}
{% endblock %}

{% block main %}




	<section id="op_admin_content_body" class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">

        <div class="bg-white py-24 sm:py-32 dark:bg-gray-900">
            <h1 class="font-semibold text-xl text-gray-700 border-b border-b-gray-700 uppercase">Renouveler votre mot de passe.</h1>
            {% if app.user.isVerified == 0 %}
                <p class="mt-4">Nous venons de mettre à jour la plateforme en interne. Pour sécuriser vos accès, nous vous invitons à changer votre mot de passe.</p>
            {% else %}
                <p class="mt-4">
                    Cet espace est dédié à la modification du mot de passe du compte de {{ user.firstname }} {{ user.lastname }}.<br>
                    Seul le référent de l'établissement possède l'accès à cette page.
                </p>
            {% endif %}

            <div id="mt-3">
                {{form_start(form)}}
                <div class="w-full inline-flex bg-white items-center">
                    <div class="w-3/12">
                        {{ form_label(form.Password.first, "Nouveau mot de passe", {'label_attr': {'class': 'text-sm text-slate-700 font-normal'}}) }}
                    </div>
                    <div class="w-9/12 inline-flex justify-start overflow-hidden">
                        {{ form_widget(form.Password.first, {'attr' : {'class': 'w-60 border text-gray-900 text-sm px-2 py-1 rounded focus:outline-none focus:bg-white border-gray-300 bg-gray-100/70', 'placeholder': 'Votre mot de passe', 'oninput':""}}) }}
                    </div>
                </div>
                <div class="w-full inline-flex bg-white items-center mt-3">
                    <div class="w-3/12">
                        {{ form_label(form.Password.second, "retapez une seconde fois", {'label_attr': {'class': 'text-sm text-slate-700 font-normal'}}) }}
                    </div>
                    <div class="w-9/12 inline-flex justify-start overflow-hidden">
                        {{ form_widget(form.Password.second, {'attr' : {'class': 'w-60 border text-gray-900 text-sm px-2 py-1 rounded focus:outline-none focus:bg-white border-gray-300 bg-gray-100/70', 'placeholder': 'Votre mot de passe', 'oninput':""}}) }}
                    </div>
                </div>
                <button class="border border-sky-700 text-sm text-sky-700 rounded px-1.5 py-1.5 hover:bg-sky-700 hover:text-white"  type="submit">Envoyer</button>
                {{form_end(form)}}
            </div>

        </div>
    </section>

{% endblock %}
